:root {
    --primary-color: #1E3888;
    --accent-color: #A67F8E;
    --secondary-color: #B5B682;
    --accent-color-transparent: #A67F8E6b;
    --background-neutral: #f1f1f1;
  }
  
*,
*::before,
*::after {
    font-family: 'Calibri', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-neutral);
    color: black;
    line-height: 1.5;
    height: 100%;
}

.content {
    padding: 1rem;
}

a:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: var(--accent-color) solid 2px;
    outline-offset: 0.05em;
    box-shadow: none;
}

nav {
    font-family: unset;
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    height: 100%;
}

nav li a {
    margin-right: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    border-radius: 1em
}

nav ul li a:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}
