.hidden {
    display: none;
}

video {
    width: 100%;
    height: auto;
}

form {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

form * {
    margin-bottom: 0.25rem;
}

button, input[type=button], input[type=submit] {
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    margin: 0.25rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.incorrect{
    background-color: var(--accent-color-transparent);
}

.correct{
    background-color: var(--primary-color-transparent);
}